<!DOCTYPE html>

{% block content %}

{% load static %}

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>DSO</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/about.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/more.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}" class="logo">Global Virtual Symphony</a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}" onclick="toggleMenu();">Home</a></li>
                <li><a href="https://www.youtube.com/channel/UCmCicEtvSlBDYxyIB6-xr7w">YouTube</a></li>
                <li><a href="#contact" onclick="toggleMenu();">Contact Us!</a></li>
            </ul>
        </header>
        <section class="banner" id="home">
            <div class="textBx">
                <h2>About Us Page</h2>
                <h3> Scroll down to learn about the starters</h3>
                <a href="https://digitalorchestra.pythonanywhere.com" class="btn"> Go Back Home</a>
            </div>

            <div class="contenter">
                <h2></h2>
                <h2></h2>
                </div>
        </section>

        
        <section class="services" id="services">
            <div class="heading white">
                <h2>Behind the Scenes</h2>
                <p>Organized by David Hwang</p>
            </div>
            <div class="content">
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/dave.PNG' %}">
                    <h2> David Hwang</h2>
                    <p>Founder/Video Editor of Global Symphony</p>
                </div>
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/teresa.PNG' %}">
                    <h2> Teresa Lopez</h2>
                    <p>Founder of Global Symphony. Project Funder</p>
                </div>
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/momo.PNG' %}">
                    <h2> Monish Murali</h2>
                    <p>Board Member. Supporter</p>
                </div>
                
            </div>
        </section>
   

       



        <section class="contact" id="contact">
            <div class="heading white">
                <h2>Contact Us</h2>
                <p>Contact information</p>
            </div>
            <div class="content">
                <div class="contactInfo">
                    <h3>Contact Info</h3>
                    <div class="contactInfoBx">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>Area</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text">
                                <h3>Phone Number</h3>
                                <p>331-228-8300</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>youtune8000@gmail.com</p>
                                <br>
                                <p>davidhwang919@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formBx">
                    <form  action="https://formspree.io/f/mzboavvv" method="POST">
                        <h3>Message Us</h3>
                       
                        <input type="email" name="email" placeholder="Email">
                        <textarea name="message" placeholder="Your Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
                </div>
        </section>

        <div class="copyright">
            <p> Hello! Thanks for visiting this website!</p>
        </div>
        <script type="text/javascript">
            window.addEventListener('scroll', function(){
                var header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });

            function toggleMenu(){
                var menuToggle = document.querySelector('.toggle');
                var menu = document.querySelector('.menu');
                menuToggle.classList.toggle('active');
                menu.classList.toggle('active');
            }
        </script>
        
        
    </body>
</html>



{% endblock %}