{% block content %}
{% load static %}





<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>DSO</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/cool.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/more.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}" class="logo">DSO</a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}" onclick="toggleMenu();">Home.</a></li>
                <li><a href="{% url 'updates' %}">Recent Updates</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="https://www.youtube.com/channel/UCmCicEtvSlBDYxyIB6-xr7w">YouTube</a></li>
                <li><a href="#contact" onclick="toggleMenu();">Contact Us!</a></li>
            </ul>
        </header>
        <section class="banner" id="home">
            <div class="textBx">
                <h2>Danny Boy Info Page!</h2>
                <h3> Scroll down to see latest updates</h3>
                <a href="{% url 'home' %}" class="btn"> Click here go back home</a>
            </div>
            <div class="contented">
            <h2>YouTune</h2>
            <h2>YouTune</h2>
            </div>

            <div class="contenter">
                <h2></h2>
                <h2></h2>
                </div>
        </section>

        <p></p>
        
       

 
        <section class="about" id="about">
            
            <div class="heading">
                <br>
                <br>
                <h2> Danny Boy details!</h2>
            </div>
            <div class="content">
                <div class="contentBx w50">
                    <p> Remember for Danny Boy, you must need to listen and record simultaneously! Use earbuds. Go to google form for all the tools needed to record and the google drive below for the recording and the sheet music. Also, make SURE it is in a VIDEO format. Thank you everyone. </p>
                    <br>
                    <a href="https://drive.google.com/drive/folders/12WWEY6hW77FSOmmogPLcgjqTjVEZY5Q1?usp=sharing">Click here for the sheet music and recording. Google Drive</a>
                    <br>
                    <br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSex97g5qTeeynT3nHm8-LeGhLrTOGMEjriBRTRGc-XbelIbSQ/viewform?usp=sf_link">Click here to submit your video! Google Form!</a>
                </div>
                <div>
                    <img class="img-me" src="{% static 'main/danny.png' %}">
                </div>
            </div>
            
        </section>


 




        <div class="copyright">
            <p> Hello! Thanks for visiting this website!</p>
        </div>
        <script type="text/javascript">
            window.addEventListener('scroll', function(){
                var header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });

            function toggleMenu(){
                var menuToggle = document.querySelector('.toggle');
                var menu = document.querySelector('.menu');
                menuToggle.classList.toggle('active');
                menu.classList.toggle('active');
            }
        </script>

        {% endblock %}
    </body>
</html>