{% block content %}
{% load static %}





<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>DSO</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/danny.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/more.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}" class="logo">DSO</a>
            <div class="toggle" onclick="toggleMenu();"></div>
            <ul class="menu">
                <li><a href="{% url 'home' %}" onclick="toggleMenu();">Home.</a></li>
                <li><a href="{% url 'updates' %}">Recent Updates</a></li>
                <li><a href="{% url 'test' %}">About Us</a></li>
                <li><a href="https://www.youtube.com/channel/UCmCicEtvSlBDYxyIB6-xr7w">YouTube</a></li>
                <li><a href="#contact" onclick="toggleMenu();">Contact Us!</a></li>
            </ul>
        </header>
        <section class="banner" id="home">
            <div class="textBx">
                <h2>Danny Boy Info Page!</h2>
                <h3> Scroll down to see latest updates</h3>
                <a href="{% url 'home' %}" class="btn"> Click here go back home</a>
            </div>
            <div class="contented">
            <h2>YouTune</h2>
            <h2>YouTune</h2>
            </div>

            <div class="contenter">
                <h2></h2>
                <h2></h2>
                </div>
        </section>

        <p></p>
        
       

        <section class="services" id="services">
            <div class="heading white">
                <h2>How this works!</h2>
                <p>Digital Symphonic Orchestra</p>
            </div>
            <div class="content">
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/drive.png' %}">
                    <h2> Step 1: Click the Audio/Sheet</h2>
                    <p>Scroll down to find Audio/Sheet where you would get the audio file to listen to and the sheet music to read</p>
                    <br>
                    <br>
                    <a class="aaa" href="https://drive.google.com/drive/folders/12WWEY6hW77FSOmmogPLcgjqTjVEZY5Q1?usp=sharing">Audio/Sheet</a>
                </div>
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/web.png' %}">
                    <br><br>
                    <h2>Step 2: Submit it </h2>
                    <br>
                    <p>Go to Submit below where you can share the google drive link to us</p>
                    <br>
                    <br>
                    <a class="aaa" href="https://docs.google.com/forms/d/e/1FAIpQLSeeGgj7tBJiYCYwSoc2UvO-EXkErSyUjPRn8qWNXzCbufMI9A/viewform?usp=sf_link">Submit</a>
                </div>
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/recording.png' %}">
                    <h2> Step 3: Use two devices and an earbud!</h2>
                    <p>Remember, this is a digital video recording! Make sure you follow the recording provided in the updates page and contact us for more info! </p>
                    <br>
                    <br>
                    <a class="aaa" href="https://www.youtube.com/watch?v=NblXJ8N7vuI">Instructions video</a>
                </div>
                <div class="servicesBx">
                    <img class="img-me" src="{% static 'main/gmail.png' %}">
                    <h2> Contact us</h2>
                    <p>In the contact section below, share it to davidhwang919@gmail.com as he will do the editing. If you would prefer to share it through Gmail! It works as well!</p>
                </div>
                
            </div>
        </section>
 
        <section class="about" id="about">
            
            <div class="heading">
                <br>
                <br>
                <h2> Danny Boy details.</h2>
            </div>
            <div class="content">
                <div class="contentBx w50">
                    <p> Thank you everyone for participating in this project. We really mean it. Remember for Danny Boy, you must need to listen and record simultaneously and use earbuds. Go to google form for all the tools needed to record and the google drive below for the recording and the sheet music. Also, make SURE it is in a VIDEO format. Cellos should play the second line, violins 1st or 2nd, and violas 3rd. But if you really want, you can choose any! Thank you everyone. </p>
                    <br>
                    <p>This is DUE BY MARCH 16TH 2021! Earlier would be better! Thanks!</p>
                    <br>
                    <a href="https://drive.google.com/drive/folders/12WWEY6hW77FSOmmogPLcgjqTjVEZY5Q1?usp=sharing">Click here for the sheet music and recording. Google Drive</a>
                    <br>
                    <br>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeGgj7tBJiYCYwSoc2UvO-EXkErSyUjPRn8qWNXzCbufMI9A/viewform?usp=sf_link">Click here to submit your video! Google Form!</a>
                </div>
                <div>
                    <img class="img-me" src="{% static 'main/danny.png' %}">
                </div>
            </div>
            
        </section>


        <section class="testimonial">
            <div class="headingr">
                <h2> Check Out These Links!</h2>
                <p>Blog Page</p>
            </div>
            <div class="content">
                <div class="testimonialBx">
                    <a class="aaa" href="https://drive.google.com/drive/folders/12WWEY6hW77FSOmmogPLcgjqTjVEZY5Q1?usp=sharing">Audio/Sheet</a>
                    <h3>Audio <br><span>Sheet Music</span></h3>
                </div>
                <div class="testimonialBx">
                    <a class="aaa" href="https://docs.google.com/forms/d/e/1FAIpQLSeeGgj7tBJiYCYwSoc2UvO-EXkErSyUjPRn8qWNXzCbufMI9A/viewform?usp=sf_link">Submit video here!!</a>
                    <h3>Google <br><span>Form</span></h3>
                </div>
                <div class="testimonialBx">
                    <a class="aaa" href="https://drive.google.com/drive/folders/1bvASKpjju9ywjCpL88mJ0Dj5SuAELiwM?usp=sharing">Video progress!!</a>
                    <h3>Video <br><span>Progress</span></h3>
                </div>
            </div>
        </section>






        <section class="contact" id="contact">
            <div class="heading white">
                <h2>Contact Us</h2>
                <p>Contact information</p>
            </div>
            <div class="content">
                <div class="contactInfo">
                    <h3>Contact Info</h3>
                    <div class="contactInfoBx">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="text">
                                <h3>Address</h3>
                                <p>Area</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text">
                                <h3>Phone Number</h3>
                                <p>331-228-8300</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="text">
                                <h3>Email</h3>
                                <p>youtune8000@gmail.com</p>
                                <br>
                                <p>davidhwang919@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formBx">
                    <form>
                        <h3>Message Us</h3>
                        <input type="text" name="" placeholder="Full Name">
                        <input type="email" name="" placeholder="Email">
                        <textarea placeholder="Your Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
                </div>
        </section>


        <div class="copyright">
            <p> Hello! Thanks for visiting this website!</p>
        </div>
        <script type="text/javascript">
            window.addEventListener('scroll', function(){
                var header = document.querySelector('header');
                header.classList.toggle('sticky', window.scrollY > 0);
            });

            function toggleMenu(){
                var menuToggle = document.querySelector('.toggle');
                var menu = document.querySelector('.menu');
                menuToggle.classList.toggle('active');
                menu.classList.toggle('active');
            }
        </script>

        {% endblock %}
    </body>
</html>